examples/Router Basic Example.json
[{"id":"6865c6b6.345c28","type":"tab","label":"Basic Example","disabled":false,"info":""},{"id":"cc0fd208.1f1e5","type":"inject","z":"6865c6b6.345c28","name":"Text Someone","topic":"","payload":"{\"contacts\":\"2025550198\",\"content\":\"hello world\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":300,"wires":[["1ae42d5.7ad46d3","d87bf677.1b96a8"]]},{"id":"1ae42d5.7ad46d3","type":"get-info","z":"6865c6b6.345c28","router":"17ef6073.9e838","name":"get info","x":540,"y":380,"wires":[["a691a8d6.ba2bf8"]]},{"id":"a691a8d6.ba2bf8","type":"debug","z":"6865c6b6.345c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":440,"wires":[]},{"id":"ba207e3a.856e9","type":"control-output","z":"6865c6b6.345c28","router":"17ef6073.9e838","name":"control output","x":540,"y":540,"wires":[["c73dfde.4ffc4"]]},{"id":"58fde889.3f6238","type":"inject","z":"6865c6b6.345c28","name":"Output 1 ON","topic":"","payload":"{\"index\":1,\"value\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":500,"wires":[["ba207e3a.856e9"]]},{"id":"c73dfde.4ffc4","type":"debug","z":"6865c6b6.345c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":600,"wires":[]},{"id":"19b72a9b.58b7e5","type":"get-io","z":"6865c6b6.345c28","router":"17ef6073.9e838","name":"get io","x":580,"y":200,"wires":[["ed661a7.9cda6e8"]]},{"id":"c434fda4.1bcf","type":"inject","z":"6865c6b6.345c28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":160,"wires":[["19b72a9b.58b7e5"]]},{"id":"ed661a7.9cda6e8","type":"debug","z":"6865c6b6.345c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":260,"wires":[]},{"id":"ac81f2cd.19958","type":"receive-sms-check","z":"6865c6b6.345c28","router":"17ef6073.9e838","name":"receive-sms-check","x":680,"y":40,"wires":[["406754d.9f67cac"]]},{"id":"406754d.9f67cac","type":"function","z":"6865c6b6.345c28","name":"Do Stuff with SMS","func":"if (msg.payload.success === true){\n    node.warn(msg.payload.SMS);\n    node.send(msg.payload);\n}","outputs":1,"noerr":0,"x":940,"y":60,"wires":[["e10fdfce.2ee1c"]]},{"id":"20e5156.10f6cea","type":"inject","z":"6865c6b6.345c28","name":"SMS Check","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":20,"wires":[["ac81f2cd.19958"]]},{"id":"e10fdfce.2ee1c","type":"receive-sms-ack","z":"6865c6b6.345c28","router":"17ef6073.9e838","name":"receive-sms-ack","x":1180,"y":100,"wires":[[]]},{"id":"d87bf677.1b96a8","type":"send-sms","z":"6865c6b6.345c28","router":"17ef6073.9e838","x":520,"y":460,"wires":[["98a9b744.225b28"]]},{"id":"98a9b744.225b28","type":"debug","z":"6865c6b6.345c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":500,"wires":[]},{"id":"17ef6073.9e838","type":"tc-router","z":"","host":"192.168.0.2","port":"1432","timeout":"5000"}]